<table class="min-w-full leading-normal">
  <thead>
    <tr>
      <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-700 uppercase tracking-wider">
        Дата
      </th>
      <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-700 uppercase tracking-wider">
        Победитель
      </th>
      <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-bold text-gray-700 uppercase tracking-wider">
        Время
      </th>
    </tr>
  </thead>
  <tbody>
  <tr *ngIf="gameService.localStorageData.length == 0">
    <td colspan="3" class="text-center italic py-2 text-slate-500">
      Данные отсутствуют
    </td>
  </tr>
  <tr *ngFor="let row of gameService.localStorageData.reverse(); let i = index">
    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
      {{ row.date | date: 'dd.MM.yyyy hh:mm'}}
    </td>
    <td [ngClass]="[row.winner == 'X' ? 'text-blue-500 font-bold ': '', row.winner == 'O' ? 'font-bold  text-red-500': '']" class="px-5 py-5 text-2xl border-b border-gray-200  bg-white text-sm text-center">
      {{ row.winner }}
    </td>
    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-center">
      {{ row.time }}
    </td>
  </tr>
  </tbody>
</table>
